/* ----------------- layout and typography -----------------  */

body{
background-image: url('back2.jpg');
background-repeat: repeat;
font-family: Tahoma;
color: #000000;
margin: 0px;
font-size: 14px;
	scrollbar-face-color:#80A6F2;
	scrollbar-highlight-color:##FFFFFF;
	scrollbar-3dlight-color:#FFFFFF;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-shadow-color:#FFFFFF;
	scrollbar-arrow-color:#ffffff;
	scrollbar-track-color:#FFFFFF;
}

table.stylish th{
background-color: #cccccc;
padding-left: 8px;
}

table.stylish td{
background-color: white;
padding-left: 8px;
   background-repeat: repeat-x;
	background-image: url('holderdark.jpg');
	background-color: #646A6A;
}

table.stylish td.conveyorbelt{
background-color: white;
padding-top: 20px;
   background-repeat: repeat-x;
	background-image: url('conveyorbelt.jpg');
	background-color: #646A6A;
}



img{
border: 0px;
padding: 0px;
margin: 0px;
}

div.section{
background-color: #454A54;
padding: 5px;
width: 80px;
}

div.offset{
margin-left: 100px;
margin-top: 40px;
}

div.header{
padding-left: 110px;
padding-right: 20px;
padding-bottom: 5px;
padding-top: 5px;
color: white;
max-width: 100%;
background-color: #949E9E;
text-decoration: none;
text-decoration: underline;
font-size: 36px;
line-height: 62px;
}

div.miniheader{
padding-left: 12px;
color: white;
max-width: 100%;
background-color: #949E9E;
text-decoration: none;
text-decoration: underline;
font-size: 24px;
line-height: 31px;
}

div.listinglight{
	background-repeat: repeat-x;	
   background-image: url('holderlight.jpg');
	background-color: #8B9191;
	/* xwidth: 492px; */
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #000000;
	
	padding: 12px;
	margin: 0px;
}

div.fieldcard{
min-width: 100px;
min-height: 34px;
padding: 6px;
font-size: 12px;
border-radius: 3px;
border: 1px solid #000000;
background-color: #A37582;
margin-left: 3px;
margin-bottom: 6px;
display: inline-block;

   /* hello css3 */
   -moz-box-shadow: 3px 0px 4px #996674; /* FF3.5+ */
   -webkit-box-shadow: 3px 0px 4px #996674; /* Saf3.0+, Chrome */
   box-shadow: 3px 0px 4px #996674; /* Opera 10.5, IE 9.0 */
   
   -moz-border-radius: 5px; /* FF1+ */
   -webkit-border-radius: 5px; /* Saf3+, Chrome */
   border-radius: 5px; /* Opera 10.5, IE 9 */
   /* thanks to css3please.com */
}

div.fieldcardNEW{
min-width: 100px;
min-height: 34px;
padding: 6px;
font-size: 12px;
border-radius: 3px;
border: 1px solid #000000;
background-color: #A37582;
margin-left: 3px;
margin-bottom: 6px;
display: inline-block;

   /* hello css3 */
   -moz-box-shadow: 3px 0px 4px #996674; /* FF3.5+ */
   -webkit-box-shadow: 3px 0px 4px #996674; /* Saf3.0+, Chrome */
   box-shadow: 3px 0px 4px #996674; /* Opera 10.5, IE 9.0 */
   
   -moz-border-radius: 5px; /* FF1+ */
   -webkit-border-radius: 5px; /* Saf3+, Chrome */
   border-radius: 5px; /* Opera 10.5, IE 9 */
   /* thanks to css3please.com */
}

div.tornfieldcard{
min-width: 100px;
height: 34px;
padding: 6px;
font-size: 12px;
border-radius: 3px;
border: 1px solid #000000;
background-color: #CCB3BA;
margin-left: 3px;
margin-bottom: 6px;
display: inline-block;

text-align: center;

position: relative;
top: -10px;

   opacity: 50%;
   filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
   /* thanks to css tricks
   http://css-tricks.com/css-transparency-settings-for-all-broswers/
   */


   /* hello css3 */
   -moz-box-shadow: 3px 0px 4px #996674; /* FF3.5+ */
   -webkit-box-shadow: 3px 0px 4px #996674; /* Saf3.0+, Chrome */
   box-shadow: 3px 0px 4px #996674; /* Opera 10.5, IE 9.0 */
   
   -moz-border-radius: 5px; /* FF1+ */
   -webkit-border-radius: 5px; /* Saf3+, Chrome */
   border-radius: 5px; /* Opera 10.5, IE 9 */
   /* thanks to css3please.com */
}

div.tornfieldcard:hover{
   opacity: 100%;
   filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
   /* thanks to css tricks
   http://css-tricks.com/css-transparency-settings-for-all-broswers/
   */
}


.daplaybox{
background-image: url('1205.png'); color: white;
padding-right: 8px;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 8px;
margin: 0px;
border: solid #000000 1px;
display: inline-block;
color: #000000;
}

div.listingdark{
   background-repeat: repeat-x;
	background-image: url('holderdark.jpg');
	background-color: #646A6A;
	/* xwidth: 492px; */
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-color: black;
	
	padding: 12px;
	margin: 0px;
	
}

div.listingwood{
   background-repeat: repeat-x;
	background-image: url('wood3.jpg');
	background-color: #646A6A;
	background-color: #021717;
	/* xwidth: 492px; */
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-color: black;
	
	color: #c0c0c0;
	
	padding: 12px;
	margin: 0px;
}

div.iconbar{
	background-image: url('wood2.jpg');
	/* xwidth: 492px; */
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-color: black;
	line-height: 8px;
	padding: 0px;
	margin: 0px;
	
	height: 52px;
}

div.button{
	padding: 16px;
	width: 32px;
   text-align: center;
   vertical-align: middle;
   display: inline-block;
   margin-right: 4px;
   float: left;
}

div.button2{
	text-align: right;
	display: block-inline;
   vertical-align: middle;
   margin-right: 4px;
   
   position: relative;
   left: 00px;
   top: -20px;
   z-index: 1;
   
   background-image: url('wood3.jpg');
}

div.button3{
   position: relative;
   top: -20px;
   z-index: 1;

	xtext-align: right;
	display: block-inline;
   vertical-align: middle;
   margin-right: 4px;
   
   
}

div.button:hover{
	background-image: url('wood3.jpg');
}

.viewdis{
background-image: url('wood3.jpg');
}

font.header{
text-decoration: underline;
font-size: 36px;
line-height: 62px;
}

div.leftsideiconbar{
width: 32px;
height: 33px;

position: absolute;
z-index: 0;

background-image: url('wood2.jpg');
margin-right: 36px;

padding-top: 8px;
padding-left: 8px;
}

div.leftsideiconbar:hover{
background-image: url('wood3.jpg');
}

a.active{
font-weight: bold;
}

font.active{

}

.highlight {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
 cursor:move;
 font-weight: bold;
}

.notice{
text-align: center;
color: #0c0c0c;
font-weight: bold;
background-color: #ffcc66;
width: 100% - 1px;
padding: 8px;
border: solid #000000 1px;
}

.footer{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
padding-top: 5px;
color: white;
max-width: 100%;
background-color: #949E9E;
text-decoration: none;
}

a:link {color: #0066cc;    text-decoration: none;}
a:hover {color: #0066cc;   text-decoration: underline!important;}
a:active {color: #0066cc;  text-decoration: none;}
a:visited {color: #0066cc; text-decoration: none;}

ul{
margin-top: 0;
border-top-width: 0;
padding-top: 0;
margin-bottom: 0;
border-bottom-width: 0;
padding-bottom: 0;
}

/* ----------------- listamatic menu -----------------  */
#navcontainer ul
{
padding-bottom: 6px;
padding-top: 5px;
padding-left: 100px;
margin-top: 0;
/* cancels gap caused by top padding in Opera 7.54 */
margin-left: 0px;
background-color: #576060;
color: white;
max-width: 100%;
font-family: Tahoma,Helvetica,sans-serif;
line-height: 18px; /* fixes Firefox 0.9.3 */

}

#navcontainer ul li
{
display: inline;
padding-left: 0;
padding-right: 0;
padding-bottom: 5px;
text-align: center;
/* matches link padding except for left and right */
padding-top: 5px;
}

#navcontainer ul li a
{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
padding-top: 5px;
color: white;
background-color: #576060;
text-decoration: none;
}

#navcontainer  #current
{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
padding-top: 5px;
color: white;
background-color: #1f1c1c;
text-decoration: none;
}

#navcontainer ul li a:hover
{
background-color: #1f1c1c;
color: white;
}

/* ----------------- forms -----------------  */

.bigbutton { 
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 24px; 
 background-color: #cccccc; 
 color: #666666; 
 margin-right: 6px; 
 border: 3px groove #000000;
}

.bigtext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 24px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
 width: 250px;
}


.mediumtext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}



.editable {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}


.minitext {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 12px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}

.minitextBOLD {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 12px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
 font-weight: bold;
}

.minibutton { 
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 12px; 
 background-color: #cccccc; 
 color: #666666; 
 margin-right: 6px; 
 border: 3px groove #000000;
}


select {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}

input {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}

button{
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px dashed #666666;
}

/* ----------------- editable text -----------------  */


#editableText:hover {
	outline: 1px dashed grey;
}
.editableToolbar:hover + * {
	outline: 1px dashed grey;
}
.editableToolbar {
}
.editableToolbar a{
    display: block;
    width: 17px;
    height: 15px;
    float: left;
    margin: 2px;
}
.editableToolbar .edit {	
	background: url("icons.png");
}
.editableToolbar .save {
    background: url("icons.png") -16px 0;
}
.editableToolbar .cancel {
    background: url("icons.png") 25px 0;
}

@media screen and (max-width: 600px) {
textarea { max-width: 90% !important; }
div.offset { margin-left: 1em !important;  }
.mediumtext { max-width:90% !important;  }
body{ margin-bottom: 3em; }
.column { float: none !important; }
.row { width: 90% !important; }
#navcontainer ul { padding-left: 0px !important; }
} 